{{nav-bar loginCallback=(action 'login') logoutCallback=(action 'logout') user=user currentPath=currentPath}}

{{event-side-bar eventData=events}}

<div class="content-container">
  {{outlet}}
</div>

{{page-footer}}

{{ember-notify messageStyle='bootstrap'}}
