{{nav-bar loginCallback=(action 'login') logoutCallback=(action 'logout')currentPath=currentPath}}

{{announcements-bar}}

{{event-side-bar}}

<div class="content-container">
  {{outlet}}
</div>

{{page-footer}}

{{ember-notify messageStyle='bootstrap'}}
