{{nav-bar loginCallback=(action 'login') logoutCallback=(action 'logout')currentPath=currentPath}}

<div class="announcements-container">
  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Important announcement!</strong> This will be a collapsed list!
  </div>
</div>

{{event-side-bar}}

<div class="content-container">
  {{outlet}}
</div>

{{page-footer}}

{{ember-notify messageStyle='bootstrap'}}
