<div class="page-header">
  <h1>Events</h1>
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        Past
      </h4>
    </div>
    {{#each-in events.past as |key value|}}
      <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapsePast{{key}}" aria-expanded="false" aria-controls="collapsePast{{key}}" id="panelPast{{key}}">
        <h4 class="panel-title">
          {{value.name}}
        </h4>
      </div>
      <div id="collapsePast{{key}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panelPast{{key}}">
        <div class="panel-body">
          {{event-list-item list=false horizontal=true collapsable=false data=value}}
        </div>
      </div>
    {{/each-in}}
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        Future
      </h4>
    </div>
    {{#each-in events.future as |key value|}}
      <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseFuture{{key}}" aria-expanded="false" aria-controls="collapseFuture{{key}}">
        <h4 class="panel-title">
          {{value.name}}
        </h4>
      </div>
      <div id="collapseFuture{{key}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panelFuture{{key}}">
        <div class="panel-body">
          {{event-list-item list=false horizontal=true collapsable=false data=value}}
        </div>
      </div>
    {{/each-in}}
  </div>
</div>
~~BREAK~~
{{outlet}}
