<div class="page-header">
  <h1>Officers</h1>
</div>

<div class="container-fluid">
  <div class="row">
    {{#each-in officers.data as |key value|}}
      {{#if value}}
        <div class="col-xs-12 col-md-4">
          <div class="media officers-item">
            <div class="media-left">
              <img src="./assets/{{value.settings.src}}" alt={{value.settings.alt}} class="img-{{value.settings.style}} officer-image" onerror="this.src='./assets/user.png'">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{value.fName}} {{value.lName}}, <em>{{value.user_type.name}}</em></h4>
              <a href="mailto:{{value.email}}">{{value.email}}</a>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each-in}}
  </div>
</div>

{{outlet}}
