<div id="add-user-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>

      <form id="add-user-form" class="form-margin" onsubmit={{action 'createAccount'}}>
        {{f-name-form-field idPrefix="add-user"}}
        {{l-name-form-field idPrefix="add-user"}}
      
        {{email-form-field idPrefix="add-user"}}
        {{email-form-field idPrefix="add-user-confirm" placeholder="Confirm Email"}}
        
        <div class="form-group">
          <label for="add-user-password" class="control-label">User's Password</label>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" {{action "generatePassword"}}>Make Password</button>
            </span>
            {{input type="text" class="form-control" id="add-user-password" value=password disabled="disabled" required="required" pattern=pattern}}
          </div>
          <span class="help-block">Please write down this password as it is unrecoverable after submit.</span>
        </div>
        
        <div class="modal-footer">
          {{modal-buttons}}
        </div>
      </form>
    </div>
  </div>
</div>
