{{#if announcements.data}}
  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="unselectable pointer lead" data-toggle="collapse" data-target=".announcement-list-container"><strong>New Announcements</strong> <small>Click to expand/collapse</small> <span class="badge">{{announcements.count}}</span></p>
    <dl class="dl-horizontal announcement-list-container collapse {{if (is-one announcements.count) "in"}}" aria-expanded={{if (is-one announcements.count) "true" "false"}}>
      {{#each-in announcements.data.currentAnnos as |key value|}}
        <dt>Important</dt>
        <dd>{{value.message}}</dd>
      {{/each-in}}
      {{#each-in announcements.data.autoAnnos as |key value|}}
        <dt>{{if value.event_type value.event_type.name "Important"}}</dt>
        <dd>{{value.message}}</dd>
      {{/each-in}}
    </dl>
  </div>
{{/if}}
