<div id="contact-us-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact Us</h4>
      </div>
    
      <form class="form-horizontal form-margin">
        {{f-name-form-field required=false idPrefix="contact-us"}}
        {{l-name-form-field required=false idPrefix="contact-us"}}
      
        {{email-form-field idPrefix="contact-us" placeholder="Your Email" pattern="^.+@.+\..+$"}}
        
        {{textarea-form-field idPrefix="contact-us" placeholder="Your Message"}}
        
        {{#if errorMessage}}
          <p>{{errorMessage}}</p>
        {{/if}}
      </form>
      <div class="modal-footer">
        {{modal-buttons submit="Send"}}
      </div>
    </div>
  </div>
</div>
