{{#generic-modal
  modalPrefix=modalPrefix
  first=first
  title="Create Account"
}}
  {{generic-form-field
    required=false
    idPrefix=modalPrefix
    label="First Name"
    formName="first"
    placeholder="John"
  }}
  {{generic-form-field
    required=false
    idPrefix=modalPrefix
    label="Last Name"
    formName="last"
    placeholder="Doe"
  }}

  {{email-form-field
    idPrefix=modalPrefix
    placeholder="Your email"
    pattern="^.+@.+\..+$"
  }}
  
  {{textarea-form-field
    idPrefix=modalPrefix
    placeholder="Your Message"
  }}

  <div class="modal-footer">
    {{modal-buttons}}
  </div>
{{/generic-modal}}

