<div id="create-event-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Event</h4>
      </div>
      
      <form id="create-event-form" class="form-margin" onsubmit={{action 'formSubmit'}}>
        {{generic-form-field
          placeholder="Name of the event"
          formName="name"
          idPrefix=modalPrefix
          label="Event Name"
        }}
        
        {{select-form-field
          idPrefix=modalPrefix
          formName="coordinator"
          label="Event Coordinator"
          data=memberList
        }}
        
        {{select-form-field
          idPrefix=modalPrefix
          formName="eventType"
          label="Event Type"
          data=eventTypes
        }}
        
        {{textarea-form-field
          idPrefix=modalPrefix
          formName="additionalInfo"
          label="Additional Information"
          placeholder="Additional information about the event"
        }}
        
        {{generic-form-field
          placeholder="Location event is being held"
          label="Location"
          idPrefix=modalPrefix
          formName="location"
        }}
        
        {{generic-form-field
          type="datetime-local"
          label="Date and Time"
          idPrefix=modalPrefix
          formName="eventTime"
        }}
        
        {{generic-form-field
          type="number"
          value="0"
          label="Points"
          idPrefix=modalPrefix
          formName="points"
          step="0.25"
          min="0"
        }}
        
        {{select-form-field
          idPrefix=modalPrefix
          formName="attendees"
          label="Attendees"
          data=memberList
          multiple=true
          required=false
        }}
      
        <div class="modal-footer">
          {{modal-buttons}}
        </div>
      </form>
    </div>
  </div>
</div>
