<label for="{{idPrefix}}-{{formName}}" class="col-sm-2 control-label">{{placeholder}}</label>
<div class="col-sm-10">
  {{input type="email" class="form-control" id=(string-append idPrefix "-" formName) placeholder=placeholder value=value required=(if required "required" "") pattern=pattern}}
  <span id="{{idPrefix}}-{{formName}}_span" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
  <span class="help-block">{{help}}</span>
</div>
