<div class="panel-group" role="tablist">
  <div id="upcoming-events" class="panel panel-info upcoming-events upcoming-events-localized">
    <div class="panel-heading" href="#upcoming-events-collapsable" role="button" data-toggle="collapse" class="unselectable">
      <h3 class="panel-title">Upcoming Events</h3>
    </div>

    <div class="panel-collapse collapse in" role="tabpanel" id="upcoming-events-collapsable" aria-expanded="true">
      <div class="panel-body">
        Sort event preview by:<br>
        <div class="btn-group" role="group" aria-label="">
          <button disabled={{if filterTime "disabled" ""}} type="button" class="btn btn-xs btn-default" {{action 'filterTime'}}>Time</button>
          <button disabled={{if filterType "disabled" ""}} type="button" class="btn btn-xs btn-default" {{action 'filterType'}}>Type</button>
        </div>
      </div>

      <div class="list-group upcoming-events-list no-scrollbar" data-spy="scroll">
        <div class="list-group-item active unselectable pointer" data-toggle="collapse" data-target="#upcoming-events-past" aria-expaneded="false">
          Past <span class="glyphicon glyphicon-menu-down" />
        </div>
        <div id="upcoming-events-past" class="collapse" aria-expanded="false">
          {{#if filterTime}}
            {{#each-in events.past as |key value|}}
              {{list-item-event data=value}}
            {{/each-in}}
          {{/if}}
          
          {{#if filterType}}
            {{#each-in data.past as |key value|}}
              <div class="list-group-item list-group-item-info unselectable pointer" data-toggle="collapse" data-target="#upcoming-events-past-type-{{key}}" aria-expaneded="false">
                {{value.name}} <span class="glyphicon glyphicon-menu-down" />
              </div>
              <div id="upcoming-events-past-type-{{key}}" class="collapse" aria-expanded="false">
                {{#each-in value.events as |key value|}}
                  {{list-item-event data=value}}
                {{/each-in}}
              </div>
            {{/each-in}}
          {{/if}}
        </div>
        <div class="list-group-item active unselectable pointer" data-toggle="collapse" data-target="#upcoming-events-future" aria-expaneded="true">
          Future <span class="glyphicon glyphicon-menu-down" />
        </div>
        <div id="upcoming-events-future" class="collapse in" aria-expanded="true">
          {{#if filterTime}}
            {{#each-in events.future as |key value|}}
              {{list-item-event data=value}}
            {{/each-in}}
          {{/if}}
          
          {{#if filterType}}
            {{#each-in data.future as |key value|}}
              <div class="list-group-item list-group-item-info unselectable pointer" data-toggle="collapse" data-target="#upcoming-events-future-type-{{key}}" aria-expaneded="false">
                {{value.name}} <span class="glyphicon glyphicon-menu-down" />
              </div>
              <div id="upcoming-events-future-type-{{key}}" class="collapse" aria-expanded="false">
                {{#each-in value.events as |key value|}}
                  {{list-item-event data=value}}
                {{/each-in}}
              </div>
            {{/each-in}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
