<div class="panel-group" role="tablist">
  <div id="upcoming-events" class="panel panel-info upcoming-events upcoming-events-localized">
    <div class="panel-heading" href="#upcoming-events-collapsable" role="button" data-toggle="collapse" class="unselectable">
      <h3 class="panel-title">Upcoming Events</h3>
    </div>

    <div class="panel-collapse collapse in" role="tabpanel" id="upcoming-events-collapsable" aria-expanded="true">
      <div class="panel-body">
        Sort event preview by:<br>
        <div class="btn-group" role="group" aria-label="">
          <button disabled={{if filterTime "disabled" ""}} type="button" class="btn btn-xs btn-default" {{action 'filterTime'}}>Time</button>
          <button disabled={{if filterType "disabled" ""}} type="button" class="btn btn-xs btn-default" {{action 'filterType'}}>Type</button>
        </div>
      </div>
      
      <div class="list-group events-list no-scrollbar" data-spy="scroll">
        {{event-list filterType=filterType filterTime=filterTime suffix="side-bar-past" title="Past" data=(if filterTime events.past (if filterType events.pastTyped null))}}
        
        {{event-list filterType=filterType filterTime=filterTime suffix="side-bar-future" title="Future" data=(if filterTime events.future (if filterType events.futureTyped null)) expanded=true}}
      </div>
    </div>
  </div>
</div>
