<div class="list-group upcoming-events-list no-scrollbar" data-spy="scroll">
  <div class="list-group-item active unselectable pointer" data-toggle="collapse" data-target="#upcoming-events-past" aria-expaneded="false">
    Past <span class="glyphicon glyphicon-menu-down" />
  </div>
  <div id="upcoming-events-past" class="collapse" aria-expanded="false">
    {{#if filterTime}}
      {{#each-in events.past as |key value|}}
        {{event-list-item data=value}}
      {{/each-in}}
    {{/if}}
    
    {{#if filterType}}
      {{#each-in events.pastTyped as |key value|}}
        <div class="list-group-item list-group-item-info unselectable pointer" data-toggle="collapse" data-target="#upcoming-events-past-type-{{key}}" aria-expaneded="false">
          {{value.name}} <span class="glyphicon glyphicon-menu-down" />
        </div>
        <div id="upcoming-events-past-type-{{key}}" class="collapse" aria-expanded="false">
          {{#each-in value.events as |key value|}}
            {{event-list-item data=value}}
          {{/each-in}}
        </div>
      {{/each-in}}
    {{/if}}
  </div>
  <div class="list-group-item active unselectable pointer" data-toggle="collapse" data-target="#upcoming-events-future" aria-expaneded="true">
    Future <span class="glyphicon glyphicon-menu-down" />
  </div>
  <div id="upcoming-events-future" class="collapse in" aria-expanded="true">
    {{#if filterTime}}
      {{#each-in events.future as |key value|}}
        {{event-list-item data=value}}
      {{/each-in}}
    {{/if}}
    
    {{#if filterType}}
      {{#each-in events.futureTyped as |key value|}}
        <div class="list-group-item list-group-item-info unselectable pointer" data-toggle="collapse" data-target="#upcoming-events-future-type-{{key}}" aria-expaneded="false">
          {{value.name}} <span class="glyphicon glyphicon-menu-down" />
        </div>
        <div id="upcoming-events-future-type-{{key}}" class="collapse" aria-expanded="false">
          {{#each-in value.events as |key value|}}
            {{event-list-item data=value}}
          {{/each-in}}
        </div>
      {{/each-in}}
    {{/if}}
  </div>
</div>
