<label for="{{idPrefix}}-{{formName}}" class="control-label">First Name</label>
{{input class="form-control" id=(concat idPrefix "-" formName) placeholder="John" value=value required=(if required "required" "") pattern=pattern}}
{{#if hasFeedback}}
  <span id="{{idPrefix}}-{{formName}}_span" class="glyphicon form-control-feedback" aria-hidden="true" />
{{/if}}
<span class="help-block">{{help}}</span>
