<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mta-navbar" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "home" class="navbar-brand navbar__brand"}}
        <img class="navbar__brand__image" alt="MTA Brand" src="./assets/MTA.png">
      {{/link-to}}
      {{#if currentUser.token}}
        {{#link-to "account" (query-params user_id=currentUser.id)}}
          <span class="glyphicon glyphicon-user navbar-text pointer" aria-hidden="true"><span class="navbar-glyph-text"> {{currentUser.name}}, {{currentUser.userType.name}}</span></span>
        {{/link-to}}
      {{/if}}
    </div>
    
    <div class="collapse navbar-collapse no-scrollbar" id="mta-navbar" aria-expanded="true" data-toggle={{if smallScreen "collapse" ""}} data-target="#mta-navbar">
      <ul class="nav navbar-nav">
        <li class={{if (is-active-route currentPath 'home') "active" ""}} role="presentation">
          {{#link-to "home"}}
              <span class="glyphicon glyphicon-home" aria-hidden="true"><span class="navbar-glyph-text"> Home</span></span>
            {{/link-to}}
        </li>
        <li class={{if (is-active-route currentPath 'events') "active" ""}} role="presentation">
          {{#link-to "events"}}
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"><span class="navbar-glyph-text"> Events</span></span>
          {{/link-to}}
        </li>
        <li class={{if (is-active-route currentPath 'officers') "active" ""}} role="presentation">
          {{#link-to "officers"}}
              <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"><span class="navbar-glyph-text"> Officers</span></span>
          {{/link-to}}
        </li>

        {{#if currentUser.token}}
          <li class={{if (is-active-route currentPath 'files') "active" ""}} role="presentation">
            {{#link-to "files"}}
                <span class="glyphicon glyphicon-file" aria-hidden="true"><span class="navbar-glyph-text"> Files</span></span>
            {{/link-to}}
          </li>

          {{#if (is-admin currentUser.userType.user_type_id)}}
            <li class={{if (is-active-route currentPath 'fees') "active" ""}} role="presentation">
              {{#link-to "fees"}}
                  <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"><span class="navbar-glyph-text"> Fees</span></span>
              {{/link-to}}
            </li>
          {{/if}}
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser.token}}
          <li role="presentation" {{action logoutCallback}}>
            {{#link-to currentPath}}
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"><span class="navbar-glyph-text"> Log Out</span></span>
            {{/link-to}}
          </li>
        {{else}}
          <li role="presentation" data-toggle="modal" data-target="#log-in-modal">
            {{#link-to currentPath}}
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"><span class="navbar-glyph-text"> Log In</span></span>
            {{/link-to}}
          </li>
          <li role="presentation" data-toggle="modal" data-target="#create-account-modal">
            {{#link-to currentPath}}
                <span class="glyphicon glyphicon-plus" aria-hidden="true"><span class="navbar-glyph-text"> Create Account</span></span>
            {{/link-to}}
          </li>
        {{/if}}
        <li role="presentation" data-toggle="modal" data-target="#contact-us-modal">
          {{#link-to currentPath}}
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"><span class="navbar-glyph-text"> Contact Us</span></span>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>
