<nav id="navbar" class="navbar navbar-default navbar-fixed-top container-fluid">
  {{#link-to "home" class="navbar-brand navbar__brand"}}
    <img class="navbar__brand__image" alt="MTA Brand" src="./MTA.png">
  {{/link-to}}
  
  {{#if smallScreen}}
    {{navbar-small logoutCallback=logoutCallback currentPath=currentPath user=user}}
  {{else}}
    {{navbar-big logoutCallback=logoutCallback currentPath=currentPath user=user}}
  {{/if}}
</nav>

{{log-in-modal submitCallback=loginCallback}}
{{create-account-modal}}
{{contact-us-modal}}
{{add-user-modal}}
{{remove-user-modal}}
