<label for="{{idPrefix}}-{{formName}}" class="control-label">{{placeholder}}</label>
{{input type="password" class="form-control" id=(string-append idPrefix "-" formName) placeholder=placeholder value=value required="required" pattern=pattern}}
{{#if hasFeedback}}
  <span id="{{idPrefix}}-{{formName}}_span" class="glyphicon form-control-feedback" aria-hidden="true" />
{{/if}}
<span class="help-block">{{help}}</span>
