{{#if data}}
  {{#generic-form-field
    hasFeedback=hasFeedback
    formName=formName
    label=label
    help=help
    idPrefix=idPrefix
    required=required
  }}
    <select class="form-control" id={{concat idPrefix "-" formName}} value=value required={{if required "required" ""}} multiple={{if multiple "multiple" ""}}>
      {{#each-in data as |key value|}}
        <option value={{value.value}}>{{value.text}}</option>
      {{/each-in}}
    </select>
  {{/generic-form-field}}
{{/if}}
